@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background:#171717;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* داخل فایل globals.css یا با style jsx */
.volume-slider::-webkit-slider-thumb {
  appearance: none;
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
.volume-slider::-webkit-slider-runnable-track {
  background: #ef4444;
  height: 10px;
  
  border-radius: 10px;
}